/* include CSS for prism toolbar */
// @import '~prismjs/plugins/toolbar/prism-toolbar.css';
/* check node_modules/prismjs/themes/ for the available themes */
// @import '~prismjs/themes/prism-tomorrow';


* {
  outline: none;
  padding: 0;
  margin: 0;
  transition: all ease .3s;
  word-wrap: break-word;
  word-break: break-all;

  li {
    list-style-position: inside;
  }

  p {
    word-wrap: break-word !important;
    display: contents;
  }
}

#app {
  overflow-y: auto;
}

:root {
  color-scheme: light dark;
  --color-primary: #ffffff;
  --color-secondary: #fcfafa;
  --color-third: #005a6f;
  --color-third-lg: linear-gradient(90deg, #006880 10.79%, #005366 87.08%);
  --color-error: #ef4146;
  --gradient-primary: linear-gradient(90deg, #a29bd4, #989fdd);
  --text-primary: #333333;
  --text-default: #ffffff;
  --text-secondary: #ffffff;
  --text-disabled: #acacbe;
  --main-bg-color: radial-gradient(61.04% 89.69% at 100% 100%, rgba(200, 250, 255, 0.08) 0%, rgba(28, 210, 229, 0.08) 40.63%, rgba(28, 210, 229, 0) 100%), radial-gradient(43.78% 64.34% at 60.31% 100%, rgba(23, 74, 228, 0.08) 0%, rgba(23, 74, 228, 0) 100%), linear-gradient(180deg, rgba(23, 74, 228, 0) 29.44%, rgba(23, 74, 228, 0.06) 100%), linear-gradient(90deg, #F3F3F7 0%, #EBF0F9 100%);
}


@media (prefers-color-scheme: dark) {
  :root {
    /* dark theme colors */
    --color-primary: #3b3b3b;
    --color-secondary: #161616;
    --color-third: #005a6f;
    --color-error: #ef4146;
    --gradient-primary: linear-gradient(90deg, #a29bd4, #989fdd);
    --text-primary: #b6b6b9;
    --text-default: #545662;
    --text-secondary: #ffffff;
    --text-disabled: #acacbe;
    --main-bg-color: #161616
  }
}




html {
  height: 100%;
}

body {
  height: 100%;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans,
    sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

#app {
  height: 100%;
  overflow: hidden;
  background-color: var(--color-secondary);
}

@for $i from 1 through 100 {
  .h-#{$i} {
    height: #{$i}px;
  }

  .l-#{$i} {
    line-height: #{$i}px;
  }

  .f-#{$i} {
    font-size: #{$i}px;
  }

  .w-#{$i} {
    width: #{$i}px;
  }

  .br-#{$i} {
    border-radius: #{$i}px;
  }
}

span {
  display: inline-block;
}

.br-f {
  border-radius: 100%;
}

$directions: (
  t: top,
  r: right,
  b: bottom,
  l: left
);

@each $abbr,
$dir in $directions {
  @for $i from 1 through 200 {
    .p-#{$abbr}-#{$i} {
      padding-#{$dir}: #{$i}px;
    }

    .m-#{$abbr}-#{$i} {
      margin-#{$dir}: #{$i}px;
    }
  }
}

.w-f {
  width: 100%;
}

.h-f {
  height: 100%;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.flex-1 {
  flex: 1 1 0;
}

.t-l {
  text-align: left;
}

.t-r {
  text-align: right;
}

.t-c {
  color: var(--text-primary);
}

.t-s {
  color: var(--text-secondary);
}

.bg {
  background-color: var(--color-primary);
}

.bg-sec {
  background-color: var(--color-secondary);
}

.bg-third {
  background: var(--color-third-lg);
}

.bg-error {
  background-color: var(--color-error);
}

.b-card1 {
  background-color: var(--color-primary);
  max-width: 100%;
  overflow-x: auto;
}

.b-card2 {
  background-color: var(--color-third);
  max-width: 100%;
  overflow-x: auto;
}

.w-m {
  max-width: 1184px;
}

.w-s {
  max-width: 1184px;
}

.of-h {
  overflow: hidden;
}

.of-a {
  overflow-y: auto;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0)0px 0px 0px 0px, rgba(0, 0, 0, 0)0px 0px 0px 0px, rgba(0, 0, 0, 0.1)0px 0px 10px 0px;
}

.shadow-sec {
  box-shadow: rgba(0, 0, 0, 0)0px 0px 0px 0px, rgba(0, 0, 0, 0)0px 0px 0px 0px, rgb(172, 172, 190, 0.6) 0px 0px 10px 0px;
}

.bbox {
  box-sizing: border-box;
}

.b-t-1 {
  border-top: 1px solid #8080805c;
}

.b-b-1 {
  border-bottom: 1px solid #8080805c;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.j-start {
  justify-content: flex-start;
}

.j-end {
  justify-content: flex-end;
}

.a-start {
  align-items: flex-start;
}

.a-end {
  align-items: flex-end;
}


.main-bg {
  background: var(--main-bg-color);
}

.t-center {
  text-align: center;
}

.m-auto {
  margin: auto;
}

.a-n {
  text-decoration: none;
}



a:hover {
  color: var(--color-third) !important;
}












// ---
.title {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.loading {
  span {
    display: inline-block;
    font-size: 30px;
    margin-right: 5px;
  }

  span {
    color: rgba(0, 0, 0, 0.8);
    animation: blink 1s ease-in-out infinite;
    animation-delay: calc(var(--delay) * 0.5s);
  }

  span:nth-child(1) {
    --delay: 0;
  }

  span:nth-child(2) {
    --delay: 1;
  }

  span:nth-child(3) {
    --delay: 2;
  }

  @keyframes blink {
    0% {
      opacity: 0.2;
    }

    20% {
      opacity: 1;
    }

    100% {
      opacity: 0.2;
    }
  }

}


// prism

/*
Name: Duotone Sea
Author: by Simurai, adapted from DuoTone themes by Simurai for Atom (http://simurai.com/projects/2016/01/01/duotone-themes)

Conversion: Bram de Haan (http://atelierbram.github.io/Base2Tone-prism/output/prism/prism-base2tone-sea-dark.css)
Generated with Base16 Builder (https://github.com/base16-builder/base16-builder)
*/
pre {
  padding: 10px;
  border-radius: 5px;
  max-width: 100%;
  overflow-x: auto;
}

code[class*="language-"],
pre {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #1d262f;
  color: #57718e;
}

pre>code[class*="language-"] {
  font-size: 1em;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #004a9e;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #004a9e;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre)>code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #4a5f78;
}

.token.punctuation {
  color: #4a5f78;
}

.token.namespace {
  opacity: .7;
}

.token.tag,
.token.operator,
.token.number {
  color: #0aa370;
}

.token.property,
.token.function {
  color: #57718e;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #ebf4ff;
}

code.language-javascript,
.token.attr-name {
  color: #7eb6f6;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: #47ebb4;
}

.token.placeholder,
.token.variable {
  color: #47ebb4;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #ebf4ff;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #7eb6f6;
}

.token.entity {
  cursor: help;
}

pre>code.highlight {
  outline: .4em solid #34659d;
  outline-offset: .4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers.line-numbers .line-numbers-rows {
  border-right-color: #1f2932;
}

.line-numbers .line-numbers-rows>span:before {
  color: #2c3847;
}

/* overrides color-values for the Line Highlight plugin
* http://prismjs.com/plugins/line-highlight/
*/
.line-highlight.line-highlight {
  background: rgba(10, 163, 112, 0.2);
  background: -webkit-linear-gradient(left, rgba(10, 163, 112, 0.2) 70%, rgba(10, 163, 112, 0));
  background: linear-gradient(to right, rgba(10, 163, 112, 0.2) 70%, rgba(10, 163, 112, 0));
}